<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <h2>Add a product</h2>
        <form [formGroup]="productForm" (ngSubmit)="onSaveProduct()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" formControlName="title">                
            </div>
            <div class="form-group">
                <label for="content">Content</label>
                <input type="text" class="form-control" id="content" formControlName="content">                
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input type="number" class="form-control" id="price" formControlName="price">                
          </div>
          <div class="form-group">
            <label for="content">photo</label>

            <app-upload-form></app-upload-form>
          </div>
          <div class="form-group">
           
            <app-upload-list></app-upload-list>
          </div>
        
        </form>
    </div>
</div> 

